html {
   --default-hover-color: rgba(74, 135, 163, 0.24);
   --default-th-background-color: aliceblue;

   --border-width: 2px;
   --border-color: rgb(74, 135, 163);
   --border: var(--border-width) solid var(--border-color);
}

table {
   margin: 0;
   font-size: 18px;
   border-collapse: separate;
   border-spacing: 0;

   text-align: left;
   width: 100%;
   table-layout: fixed;
}

table th {
   position: sticky;
   top: 0px;
   background-color: var(--default-th-background-color);
   user-select: none;
}

th,
tbody td {
   border-right: var(--border);
   border-bottom: var(--border);

   text-overflow: ellipsis;
   word-wrap: break-word;
}

th:first-child,
tbody td:first-child {
   border-left: var(--border);
}

thead tr:first-child th {
   border-top: var(--border);
}

/* Сортировка столбцов vvv */
.colRepo[data-order="-1"]::before {
   content: "▼";
}

.colRepo[data-order="1"]::before {
   content: "▲";
}

/* Сортировка столбцов ^^^ */

/* Нижняя строчка таблицы vvv */
#tfoot_container {
   display: flex;
   justify-content: space-between;
}

#page_selector {
   display: flex;
   justify-content: left;
   margin-top: auto;
}

#per_list {
   display: flex;
   justify-content: right;
   margin-top: auto;
}

#page_selector div {
   margin-right: 3px;
}

#per_list div {
   margin-left: 3px;
}

.tfoot_button {
   font-size: 18px;
   text-align: center;
   border-radius: 30%;
   border: var(--border);

   height: 100%;
   width: 30px;

   cursor: pointer;

   /* Чтобы не было возможности выделить текст */
   /* iOS Safari */
   -webkit-touch-callout: none;
   /* Safari */
   -webkit-user-select: none;
   /* Konqueror HTML */
   -khtml-user-select: none;
   /* Old versions of Firefox */
   -moz-user-select: none;
   /* Internet Explorer/Edge */
   -ms-user-select: none;
   /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
   user-select: none;
}

tbody tr:hover {
   background-color: var(--default-hover-color) !important;
}

.tfoot_button:hover {
   background-color: var(--default-hover-color) !important;
}

/* Нижняя строчка таблицы ^^^ */


/* Окно загрузки vvv */
#loader {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   backdrop-filter: blur(1.5px);
}

#loader[data-visible='0'] {
   opacity: 0;
   z-index: -10;
}

#loader[data-visible='1'] {
   opacity: 1;
   z-index: 999999;
}

/* Окно загрузки ^^^ */


/* Модальное окно vvv */
#modal_background[data-visible='0'] {
   display: none;
}

#modal_background[data-visible='1'] {
   display: flex;
}

#modal_background {
   position: fixed;
   background-color: rgba(0, 0, 0, 0.37);

   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   width: 100vw;
   height: 100vh;

   justify-content: center;
}

#modal_active {
   position: absolute;
   width: 80vw;
   height: auto;

   min-height: 20vh;
   max-height: 90vh;

   border-radius: 10px;
   background-color: rgb(255, 255, 255);
   cursor: default;
   padding: 35px 15px 15px 15px;
   margin-top: 20px;
}

#modal_close {
   position: absolute;
   right: 5px;
   top: 5px;
   width: 30px;
   height: 30px;
   cursor: pointer;

   display: flex;
   justify-content: center;
   align-items: center;
}

#modal_close img {
   width: 24px;
   height: 24px;
}

#modal_title {
   position: absolute;
   left: 15px;
   top: 10px;
   font-size: 18px;
   font-weight: bold;
}

#modal_issues {
   height: auto;
   max-height: calc(90vh - 35px);
   
   width: 100%;

   overflow-y: auto;
}

/* Модальное окно ^^^ */