html{
   --default-hover-color: rgba(74, 135, 163, 0.24);
}

table {
   margin: 0;
   font-size: 18px;
   border-collapse: collapse;
   text-align: left;
   width: 100%;
}

tbody td,
thead th {
   border: solid 2px rgb(74, 135, 163);
}

/* Сортировка столбцов vvv */
.colRepo[data-order="-1"]::before{
   content: "▼";
}
.colRepo[data-order="1"]::before{
   content: "▲";
}
/* Сортировка столбцов ^^^ */

/* Нижняя строчка таблицы vvv */
#tfoot_container{
   display: flex;
   justify-content: space-between;
}

#page_selector {
   display: flex;
   justify-content: left;
   margin-top: auto;
}

#per_list {
   display: flex;
   justify-content: right;
   margin-top: auto;
}

#page_selector div{
   margin-right: 3px;
}

#per_list div{
   margin-left: 3px;
}

.tfoot_button{
   font-size: 18px;
   text-align: center;
   border-radius: 30%;
   border: solid 2px rgb(74, 135, 163);

   height: 100%;
   width: 30px;

   cursor: pointer;
   
   /* Чтобы не было возможности выделить текст */
   /* iOS Safari */
   -webkit-touch-callout: none;
   /* Safari */
   -webkit-user-select: none;
   /* Konqueror HTML */
   -khtml-user-select: none;
   /* Old versions of Firefox */
   -moz-user-select: none;
   /* Internet Explorer/Edge */
   -ms-user-select: none;
   /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
   user-select: none;
}

tbody tr:hover {
   background-color: var(--default-hover-color) !important;
}

.tfoot_button:hover {
   background-color: var(--default-hover-color) !important;
}
/* Нижняя строчка таблицы ^^^ */


/* Окно загрузки vvv */
#loader {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;  
   backdrop-filter: blur(1.5px);
}
#loader[data-visible='0'] {
   opacity: 0;
   z-index: -10;
}
#loader[data-visible='1'] {
   opacity: 1;
   z-index: 999999;
}
/* Окно загрузки ^^^ */


/* Модальное окно vvv */
#modal_background[data-visible='0'] {
   display: none;
}
#modal_background[data-visible='1'] {
   display: flex;
}
#modal_background{
   position: fixed;
   background-color: rgba(0, 0, 0, 0.37);

   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
}

#modal_active{
   width: 80%;
   height: auto;
   margin-left: 10%;
   margin-top: 2%;
   background-color: white;
   border: solid 2px rgb(0, 0, 0);
   border-radius: 1%;

   min-height: 1px;
}
#modal_close{
   cursor: pointer;
   width: 30px;
   height: 30px;
   float: right;
}
#modal_close img{
   margin: 3px;
   width: 24px;
   height: 24px;
}

#model_issues{
   table-layout:fixed;

   overflow-y: auto;
   overflow-x: hidden;
}
/* Модальное окно ^^^ */
